.bg-dark {
  background-image: url('https://mcdn.wallpapersafari.com/medium/62/83/s6czKf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-light {
  background-image: url('https://images.unsplash.com/photo-1635776062043-223faf322554?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1320px) {
  .bg-dark, .bg-light {
    height: 100vh;
  }
}

@media only screen and (max-width: 640px) {
  .bg-dark, .bg-light {
    height: auto;
    background-position: center;
  }
}
@media only screen and (max-width: 640px) {
  .bg-dark, .bg-light {
    height: 100vh;
  }
}